body {
    background-color: #f4f3ee;
}

html {
    scroll-behavior: smooth;

}

.navbar {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #031b28;
    overflow-x: hidden;
    padding-top: 20px;
}

.navbar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #bcb8b1;
    display: block;
    font-family: 'Questrial', sans-serif;
}


.navbar a:hover {
    color: #dba858;
}


.main {
    margin-left: 180px;
    padding: 0 10px;
    background-colour: #000000;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#name {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 30px;
    color: #bcb8b1;
    display: block;
    font-family: 'Questrial', sans-serif;
    text-align: left;
}

#style-text {
    font-size: 50px;
    color: #031b28;
    display: block;
    font-family: 'La Belle Aurore', cursive;
    text-align: center;
    margin-top: 150px;
}

hr {
    border: 0.5px solid #bcb8b1;
}

.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 40px;
}

.main-text-top {
    text-decoration: none;
    font-size: 25px;
    color: #031b28;
    display: block;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    margin-top: 70px;
}

.main-text {
    text-decoration: none;
    font-size: 25px;
    color: #031b28;
    display: block;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    margin-top: 15px;
}

.title-text {
    text-decoration: none;
    font-size: 50px;
    color: #031b28;
    display: block;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    margin-top: 70px;
}

.logo {
    position: relative;
    margin-left: 10px;
}

.scroll {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.links {
    display: flex;
    justify-content: center;
    padding-right: 70px;

}

.links img {
    padding:10px;
}

.gh {
    position: absolute;
    bottom: -63px;
}


.tooltip {
    position: relative;
    display: inline-block;
    font-family: 'Questrial', sans-serif;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 190px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-family: 'Questrial', sans-serif;
    top: 100%;
    left: 50%;
    margin-left: -95px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip2 {
    position: relative;
    display: inline-block;
    font-family: 'Questrial', sans-serif;
}

.tooltip2 .tooltiptext {
    visibility: hidden;
    width: 90px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-family: 'Questrial', sans-serif;
    top: 100%;
    left: 50%;
    margin-left: -13px;
    margin-top: 56px;
    position: absolute;
    z-index: 1;
}


.tooltip2:hover .tooltiptext {
    visibility: visible;
}

#edu_top {
    position: relative;
    margin-top: 725px;
}

#skill_top {
    position: relative;
    margin-top: 200px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #031b28;
}

::-webkit-scrollbar-thumb:hover {
    background: #dba858;
}




.edu_top_text {
    text-decoration: none;
    font-size: 25px;
    color: #031b28;
    display: block;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    margin-top: 75px;
}

a {
    text-decoration: none;
}

.skill-top-text {
    text-decoration: none;
    font-size: 25px;
    color: #031b28;
    display: block;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    margin-top: 30px;
}



#scroll_message {
    text-decoration: none;
    font-size: 35px;
    color: #031b28;
    display: block;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    margin-top: 250px;
    animation: fadein 3s steps(1000, end);

}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}