.map:hover {

  background-color: 	#ffffff;
}

#buy {
  width: 140px ;
  height: 45px ;
  background-color: 	#ffffff;
  color: #000000;
  display: inline-block;
  border: none;
  border-radius: 4px;
  transition-duration: 0.2s;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  font-family: 'Zen Kurenaido', sans-serif;
  text-decoration: bold;
}

#buy:hover {
  background-color #ffffff;
  color: #000000;
}

body {background-color: #525252
  ;text-align: center;}

#MainText {
  font-size: 64px;
  font-family: 'Zen Kurenaido', sans-serif;
  color: #FFFFFF;
}

#EventBody2 {

  font-size: 20px;
  font-family: 'Zen Kurenaido', sans-serif;
  color: #525252;
}

#EventBody {

  font-size: 20px;
  font-family: 'Zen Kurenaido', sans-serif;
  color: #FFFFFF;
}

#EventHead {

  font-size: 30px;
  font-family: 'Zen Kurenaido', sans-serif;
  color: #FFFFFF;
}

button {
  width: 140px ;
  height: 45px ;
  background-color: 	#525252;
  color: 	#ffffff;
  display: inline-block;
  border: none;
  border-radius: 4px;
  transition-duration: 0.2s;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  font-family: 'Zen Kurenaido', sans-serif;
  text-decoration: bold;
}


button:hover
{
text-decoration: underline;
text-decoration-thickness: 2px;
}

form {
  font-size: 20px;
  font-family: 'Zen Kurenaido', sans-serif;
  color: #FFFFFF;
}

p {
  color: #000080;
  text-align: center;

}

#modal {
  display: none;
  width: 300px;
  height: 150px;
  border:1px solid #CCC;
  background:#EEE;
  margin: auto;
  border-radius: 15px;
}



#modal:target {
  display: block;
}

#Header {
  font-size: 100px;
  padding-top: 10px;
  padding-bottom: 1000px;
}

#description {
  margin-top: -1000px ;


}

#FAQ {
  font-size: 30px;

}

hr {
  background-color: #ffffff;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}